.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 40px;
}
.menuButtons {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 10px;
}

input {
    border-radius: 7px;
    border-color: rgb(162, 162, 245);
    padding: 7px;
    font-size: 16px;
}

button {
    border: none;
    border-radius: 7px;
    background-color: rgb(162, 162, 245);
    height: 37px;
}

.gameBoard {
    display: flex;
    justify-self: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    outline: 5px solid rgb(162, 162, 245);
    box-sizing: border-box;
    margin-top: 10px;
}

.gameBlock {
    box-sizing: border-box;
    outline: 0.5px solid black;
}